#outer-container {
    width: 95%;
    position: absolute;
    margin-left: 15px;
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
}

.pb-div {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  height: 10vh;
}

#pb-title {
  font-size: 7vh;
  position: relative;
  font-weight: 600;
  height: auto;
  text-align: center;
  color: #989898;
}

#pb-episode {
  height: auto;
  font-size: 3.8vh;
  text-align: center;
  color: #989898;
}

#inner-container{
  margin-top: 3rem;
}

#totalUsers {
  text-align: right;
  font-size: x-small;
  color: grey;
}

body {
  background: #292929;
}
